body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.like-button {
  padding: .1rem .3rem;
  font-size: 1.5rem;
}

li {
  list-style-type: none;
}

div#root {
  background-color: #2b282a;
  color: white;
  
}

.card {
  margin:0 auto;
  float: none;
}

.comment-section {
  font-size: 17px;
  margin-left: -20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.delete-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
